/*Base*/

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Funnel Display", sans-serif;

  background: linear-gradient(135deg, #b4e9a7, #41643b);
  color: #2d3436;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
  gap: 20px;
  padding: 20px;
}

/*Fonts*/

.funnel-display-font {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/*Word Search Container*/

.word-search-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

#word-search {
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

#word-search:focus {
  border-color: #6c5ce7;
}

/*Text Container*/

.text-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  line-height: 1.8;
  font-size: 1.1rem;
}

#text {
  margin: 0;
  white-space: pre-line;
}

/*Highlight Word*/

.word-search-span {
  background-color: #589b67;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  padding: 0 2px;
  box-shadow: 0 0 5px rgba(255, 243, 59, 0.5);
}

/*Reset button*/
.reset-button {
  padding: 10px;
  background-color: #ff7675;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.reset-button:hover {
  background-color: #d63031;
}
