/*Base*/

body {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Funnel Display", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*Fonts*/

.funnel-display-font {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/*Word Search Container*/

.word-search-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px 10px 10px 10px;

  background-color: bisque;
}

/*Text Container*/

.text-container {
  background-color: blueviolet;
}
