/*Base*/

body {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*Word Search Container*/

.word-search-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px 10px 10px 10px;

  background-color: bisque;
}

/*Text Container*/

.text-container {
  background-color: blueviolet;
}
